* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a4970;
}

.container {
    width: 700px;
    height: 200px;
    background-color: rgb(128, 128, 128);
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    font-size: 150px;
    display: inline-block;
}

.one:hover {
    color: red;
    background-image: linear-gradient(red, lime, blue, yellow);
}

/* @keyframes avinash {
    0%{
        transform: translate(0,0) rotate(180deg);
    }
    100%{
        transform: scale(2.5) translate(0, 180px);
    }
}
 */
