* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
.head {
    background-color: gray;
    color: white;
    text-align: center;
    height: 50px;
    position: sticky;
    top: 0;
}
#product-list {
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.item {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 200px;
    background-color: #f1f1f1;
    border-radius: 10px;
    border: 2px solid #251e1e;
    padding: 10px;
    font-size: 10px;
    align-content: center;
}

img {
    width: 150px;
    height: 200px;
    object-fit: cover;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #104d9d;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0d3c7c;
}
h3 {
    margin-top: 40px;
    text-align: center;
    background-color: rgb(167, 157, 157);
    padding: 15px 0px;
}

#sidebar {
    height: 98vh;
    width: 30%;
    background-color: #504d4d;
    position: fixed;
    top: 0;
    right: -30%;
}

#checkout {
    background-color: #104d9d;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.close {
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;
    border: none;
    cursor: pointer;
    border: 2px solid white;
    padding: 0px 5px;
    z-index: 10;
    display: none;
}

.open {
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;
    border: none;
    cursor: pointer;
    border: 2px solid white;
    padding: 0px 5px;
}
